* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* box-sizing: border-box; */
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.headingh1 {
    color: #000;
    font-size: 34px;
    text-align: center;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    font-weight: 300;
    margin: 30px;
    line-height: 44px;
}

#map {
    height: 400px;
    width: 100%;
}

#locationform {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

/* input[type="text"] { */
#pickup, #destination{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.submitclass {
    display: flex;
    justify-content: center;
}

/* input[type="submit"] { */
#submitbtn{
    background-color: #4CAF50;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    float: inherit;
}

/* input[type="submit"]:hover { */
#submitbtn:hover {
    background-color: #45a049;
}
